ul.jcorg-yt-thumbnails,.jcorg-yt-list {
	list-style:none;
	clear:both;
	margin:0;
	padding:0;
}
ul.jcorg-yt-thumbnails li{
	float:left;
	line-height:150%;
	margin:10px;
}
.jcorg-yt-thumbnail img:hover{
    border:10px solid rgba(10,10,10,0.4);
	border-radius:10px;
	opacity:1;
}
.jcorg-yt-thumbnail img{
	border:10px solid rgba(100,100,100,0.5);
	border-radius:10px;	
	opacity:0.9;
}
.jcorg-yt-thumbnail-title {
	height:40px;
	font-family:Calibri,arial;
	font-size:16px;
	text-align:center;
}
/*channel embedd list style */

.jcorg-yt-list-title {
	font-family:Calibri,arial;
	font-size:28px;
	line-height:200%;
}